.folders img{
	height: 100px;
	width: 130px;
}

ul a{
	font-size: 15px; 
	font-family: Arial;
}

.bottom_content{
	background-color: #f0f1e9;
	width: 100%;

}

.container-fluid{
	background-color:#f9f4f4;
	width: 100%;
}

.bottom_content h1{
	font-family: ARrial;
}

.bottom_content img{
	height: 200px;
	width: 200px;
	align-content: center;
}



.right{
    float:right;
}

.left{
    float:left;
}

#one{
	position: absolute;
	top: 70%;
	left: 0%;	
}

#two{
	position: absolute;
	top: 70%;
	left: 25%;
}

#three{
	position: absolute;
	top: 70%;
	left: 50%;
}

#four{
	position: absolute;
	top: 70%;
	left: 75%;
}