.folders img{
	height: 100px;
	width: 130px;
}

#change_white{
	color: white;
}
ul a{
	font-size: 15px;
	font-family: Arial;
}

.bottom_content{
	background-color: #f0f1e9;
	width: 100%;

}

.container-fluid{
	background-color:#f9f4f4;
	width: 100%;
}

.bottom_content h1{
	font-family: ARrial;
}

.bottom_content img{
	height: 200px;
	width: 200px;
	align-content: center;
}



.right{
    float:right;
}

.left{
    float:left;
}

#one{
	position: absolute;
	top: 70%;
	left: 0%;
}

#two{
	position: absolute;
	top: 70%;
	left: 25%;
}

#three{
	position: absolute;
	top: 70%;
	left: 50%;
}

#four{
	position: absolute;
	top: 70%;
	left: 75%;
}

#five{
	position: absolute;
	top: 180%;
	left: 0%;
}

#six{
	position: absolute;
	top: 180%;
	left: 25%;
}

#seven{
	position: absolute;
	top: 180%;
	left: 50%;
}

#eight{
	position: absolute;
	top: 180%;
	left: 75%;
}

#nine{
	position: absolute;
	top: 290%;
	left: 0%;
}

#ten{
	position: absolute;
	top: 290%;
	left: 25%;
}

#eleven{
	position: absolute;
	top: 290%;
	left: 50%;
}

#twelve{
	position: absolute;
	top: 290%;
	left: 75%;
}

#one_{
	position: absolute;
	top: 90%;
	left: 0%;
}

#two_{
	position: absolute;
	top: 90%;
	left: 25%;
}

#three_{
	position: absolute;
	top: 90%;
	left: 50%;
}

#four_{
	position: absolute;
	top: 90%;
	left: 75%;
}

#five_{
	position: absolute;
	top: 200%;
	left: 0%;
}

#six_{
	position: absolute;
	top: 200%;
	left: 25%;
}

#seven_{
	position: absolute;
	top: 200%;
	left: 50%;
}

#eight_{
	position: absolute;
	top: 200%;
	left: 75%;
}

#nine_{
	position: absolute;
	top: 310%;
	left: 0%;
}

#ten_{
	position: absolute;
	top: 310%;
	left: 25%;
}

#eleven_{
	position: absolute;
	top: 310%;
	left: 50%;
}

#twelve_{
	position: absolute;
	top: 310%;
	left: 75%;
}

#thirteen_{
	position: absolute;
	top: 420%;
	left: 0%;
}
#fourteen_{
	position: absolute;
	top: 420%;
	left: 25%;
}
#fifteen_{
	position: absolute;
	top: 420%;
	left: 50%;
}
#sixteen_{
	position: absolute;
	top: 420%;
	left: 75%;
}

#seventeen_{
	position: absolute;
	top: 530%;
	left: 0%;
}
#eighteen_{
	position: absolute;
	top: 530%;
	left: 25%;
}
#nineteen_{
	position: absolute;
	top: 530%;
	left: 50%;
}
#twenty_{
	position: absolute;
	top: 530%;
	left: 75%;
}
